
$background-dark: #282828;
$font-gray      : #b9b9b9;

$blue   : rgb(130, 181, 252);
$green  : rgb(178, 234, 148);
$orange : rgb(254, 197, 132);
$purple : rgb(182, 144, 218);
$red    : #FE8484;

$html   : $blue;
$css    : $green;
$js     : $orange;
$images : $purple;